[advisories]
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "allow"

[licenses]
unlicensed = "deny"
allow = [
    "MIT",
    "Apache-2.0",
    "MPL-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "ISC",
    "Unicode-DFS-2016",
]
copyleft = "deny"
allow-osi-fsf-free = "either"
default = "deny"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
